# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
.nvmrc
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.vscode
wp-api.json

# Local env files
.env
.env.*
!.env.example
