.ingrid-darling {
    font-family: 'Ingrid Darling', cursive;
}

.istok-web-regular {
    font-family: 'Istok Web', sans-serif;
}

pre {
    white-space: pre-wrap;
    font-size: x-small;
    max-width: min(95dvw, 900px);
    overflow-x: hidden;
}
